## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# amsthm
*.thm

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# fixme
*.lox

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.glg-abr
*.glo-abr
*.gls-abr
*.slo
*.slg
*.sls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# nomencl
*.nlg
*.nlo
*.nls

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# xcolor
*.xcp

# xindy
*.xdy

# Compiled thesis (build artefact - rebuild with build.cmd)
thesis.pdf
